modules = ["python-base-3.13"]

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Release"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PYTHON"

[nix]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "/nix/store/qzc04a3npl70cyyy6flnnrb2ig3kayxm-python3-3.13.11/bin/python3 $file"]

[userenv]

[userenv.shared]
APPLICATION_CATEGORY_ID = "1551183057908666430"
MINOR_ROLE_ID = "1553440480979722310"
ADULT_ROLE_ID = "1553440524227051621"
REVIEW_ROLE_ID = "1553440553214152775"
VERIFIED_ROLE_ID = "1553440584142688316"
PENDING_ROLE_ID = "1553440617261047958"
VERIFICATION_LOG_CHANNEL_ID = "1553440987739852880"
DEBUG_OWNER_ID = "626052608074711040"
